<div class="content-wrapper">
  <div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="py-3 mb-4">
      <span class="text-muted fw-light">Notifications /</span> List
    </h4>
    <!-- Flash Messages -->
    {{#if success}}
    <div class="alert alert-success alert-dismissible" role="alert">
      {{success}}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {{/if}}

    {{#if error}}
    <div class="alert alert-danger alert-dismissible" role="alert">
      {{error}}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {{/if}}


    <div class="card">
      <div class="card-header border-bottom d-flex justify-content-between align-items-center">
        <h5 class="card-title mb-3">Notifications List</h5>
      </div>
      <div class="card-datatable table-responsive p-4">
        <table class="table border-top" id="dataTable">
          <thead>
            <tr>
              <th>#</th>
              <th>Message</th>
              <th>Type</th>
              <th>Status</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            {{#each notifications}}
            <tr>
              <td>{{@index}}</td>
              <td>{{this.message}}</td>
              <td>{{this.notify_type}}</td>
              <td>{{#if this.status}}Active{{else}}Inactive{{/if}}</td>
              <td>
                {{!-- <a href="/notifications/edit/{{this.id}}">
                  <i class="menu-icon tf-icons bx bx-edit-alt text-primary"></i>
                </a> --}}
                <a href="#" onclick="deleteItem('/notifications/delete', '{{this.id}}')" class="text-danger">
                  <i class="menu-icon tf-icons bx bx-box text-danger"></i>
                </a>
              </td>
            </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>