<!-- Content wrapper -->
<div class="content-wrapper">
  <!-- Content -->
  <div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="py-3 mb-4">
      <span class="text-muted fw-light">Students /</span>
      List
    </h4>

    {{#if success}}
    <div class="alert alert-success alert-dismissible" role="alert">
      {{#each success}}
      {{this}}
      {{else}}
      {{success}}
      {{/each}}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {{/if}}

    {{#if error}}
    <div class="alert alert-danger alert-dismissible" role="alert">
      {{#each error}}
      {{this}}
      {{else}}
      {{error}}
      {{/each}}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {{/if}}

    <!-- Students List Table -->
    <div class="card">
      <div class="card-header border-bottom">
        <h5 class="card-title mb-3">Students List</h5>
      </div>
      <div class="card-datatable table-responsive p-4">
        <table class="table border-top" id="dataTable">
          <thead>
            <tr>
              <th>#</th>
              <th>Profile Img</th>
              <th>Name</th>
              <th>Email</th>
              <th>Class</th>
              <th>School</th>
              <th>Actions</th>
            </tr>
          </thead>


          <tbody>
            {{#each students}}
            <tr>
              <td class="row-index" data-index="{{@index}}"></td>
              <td>
                {{#if this.profile_pic}}
                <img src="{{this.profile_pic}}" alt="School Logo" width="50" height="50"
                  style="object-fit: cover; border-radius: 5px;">
                {{else}}
                <img src="/uploads/schools/default-placeholder.png" alt="Default Logo" width="50" height="50">
                {{/if}}
              </td>
              <td>{{this.name}}</td>
              <td>{{this.email}}</td>
              <td>{{this.class.name}}</td>
              <td>{{this.school.name}}</td>
              <td>
                <a href="/students/edit/{{this.id}}"> <i class="menu-icon tf-icons bx bx-edit-alt text-primary"></i></a>
                <a href="#" onclick="deleteItem('/students/delete', '{{this.id}}')">
                  <i class="menu-icon tf-icons bx bx-box text-danger"></i>
                </a>
              </td>
            </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{{!--
<pre>{{json students}}</pre> --}}