{{!-- Debug information --}}
<div style="display: none;">
    Debug Info:
    hasUser: {{debug.hasUser}}
    userId: {{debug.userId}}
    raw user: {{json user}}
</div>

<div class="content-wrapper">
  <div class="container-xxl flex-grow-1 container-p-y">
    <div class="row g-6">
      <div class="col-md-12">
        <div class="card">

          <h5 class="card-header">
            {{#if user}}
              Edit User
            {{else}}
              Create User
            {{/if}}
          </h5>
          
          <div class="card-body">
            {{#if user}}
              <form action="/users/update/{{lookup user 'id'}}" method="post">
            {{else}}
              <form action="/users/create" method="post">
            {{/if}}
              
              {{!-- Rest of your form fields --}}
              <div class="row">
                <div class="col-md-6">
                  <label for="defaultFormControlInput" class="form-label">Name</label>
                  <input
                    type="text"
                    class="form-control"
                    placeholder="John Doe"
                    name="name"
                    value="{{lookup user 'name'}}"
                    required
                  />
                </div>

                <div class="col-md-6">
                  <label
                    for="email"
                    class="form-label"
                  >Email address</label>
                  <input
                    type="email"
                    class="form-control"
                    id="email"
                    placeholder="john.doe@example.com"
                    name="email"
                    value="{{#if user}}{{user.email}}{{/if}}"
                    required
                  />
                </div>
              </div>

              <div class="row mt-2">
                <div class="col-md-6">
                  <label
                    for="contact_person"
                    class="form-label"
                  >Contact Person</label>
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Contact Person"
                    name="contact_person"
                    value="{{#if user}}{{user.contact_person}}{{/if}}"
                    required
                  />
                </div>

                <div class="col-md-6">
                  <label
                    for="phone"
                    class="form-label"
                  >Phone</label>
                  <input
                    type="tel"
                    class="form-control"
                    id="phone"
                    placeholder="0123456789"
                    aria-describedby="defaultFormControlHelp"
                    name="phone"
                    value="{{user.phone}}"
                    required
                  />
                </div>
              </div>

              <div class="row mt-2">
                <div class="col-md-6">
                  <label
                    for="role_id"
                    class="form-label"
                  >Role</label>
                  <select class="form-control" name="role_id">
                    {{#each roles}}
                      <option value="{{id}}" {{#ifEquals ../user.role_id id}}selected{{/ifEquals}}>{{name}}</option>
                    {{/each}}
                  </select>
                </div>
                    {{#unless user}}
                        <div class="col-md-6">
                        <label
                            for="password"
                            class="form-label"
                        >Password</label>
                        <input type="password" class="form-control" name="password" required>
                        </div>
                    {{/unless}}
              </div>
              

              <button type="submit" class="mt-4 float-end btn btn-primary ">Create User</button>
              <a href="/users/index" class="mt-4 float-end btn btn-secondary me-2">Cancel</a>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>